{% extends "base.html" %}



{% block body %}





<div class="job-feed-section">
    <h2>Job Feed</h2>
    you are searching for {{query}}
    {% include 'messages.html' %}
    
    {% for data in job %}
    <div class="job-list">
        <div class="job-item">
            <h3>{{data.job_title}}</h3>
            <p><strong>Company:</strong> {{data.company_name}}</p>
            <p><strong>Location:</strong> {{data.location}}</p>
            <p><strong>Salary:</strong> {{data.salary}}</p>
            <p><strong>Employment Type:</strong> {{data.employment_type}}</p>
            <p><strong>Posted On:</strong> {{data.post_date}}</p>
            <p><strong>Posted by:</strong> {{user.username}}</p>
            <p><strong>Application Deadline:</strong>{{data.application_deadline}}</p>
            <p class="job-description">{{data.description}}</p>
            
            {% if user.user_type != 'admin' %}
            <a href="{% url 'apply_now' data.id %}" class="apply-button">Apply Now</a>
            {% endif %}
                

        </div>


    </div>
    {% endfor %}
        
  
</div>



    
{% endblock body %}
    